[package]
name = "mos6502"
version = "0.1.0"
edition = "2021"

[dependencies]
getch = { version = "0.3.1", optional = true }
common = { path = "../common" }

[features]
debugger = ["dep:getch"]
std = []
default = ["std"]

[lib]
doctest = false